<a href="https://colab.research.google.com/github/helloliz-korea/first-repository/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC1_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

001 print 기초

화면에 Hello World 문자열을 출력하세요.

In [9]:
print("Hello World")

Hello World

002 print 기초

화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [10]:
print("Mary's cosmetics")

Mary's cosmetics

003 print 기초

화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [11]:
print('신씨가 소리질렀다."도둑이야".')

신씨가 소리질렀다."도둑이야".

004 print 기초

화면에 "C:\Windows"를 출력하세요.

In [5]:
print('"C:\Windows"')

"C:\Windows"

005 print 탭과 줄바꿈

다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [6]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n 줄바꿈, \t 탭

006 print 여러 데이터 출력

print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

In [7]:
print ("오늘은", "일요일")

오늘은 일요일

007 print 기초

print() 함수를 사용하여 다음과 같이 출력하세요.

naver;kakao;sk;samsung

In [12]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

008 print 기초

print() 함수를 사용하여 다음과 같이 출력하세요.

naver/kakao/sk/samsung

In [13]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

009 print 줄바꿈

다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")

In [16]:
print("first",end="");print("second")

firstsecond

010 연산 결과 출력

5/3의 결과를 화면에 출력하세요.

In [17]:
5/3

1.6666666666666667

011 변수 사용하기

삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [18]:
삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

500000

012 변수 사용하기

다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.
항목 	값
시가총액 	298조
현재가 	50,000원
PER 	15.79

In [19]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액));print(현재가, type(현재가));print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

013 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

>> s = "hello"
>> t = "python"

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [22]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

014 파이썬을 이용한 값 계산

아래 코드의 실행 결과를 예상해보세요.

>> 2 + 2 * 3

In [23]:
2+2*3

8

015 type 함수

type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

>> a = 128
>> print (type(a))
<class 'int'>

아래 변수에 바인딩된 값의 타입을 판별해보세요.

>> a = "132"

In [24]:
a = 128
print(type(a))
a="132"
print(type(a))

<class 'int'>
<class 'str'>

016 문자열을 정수로 변환

문자열 '720'를 정수형으로 변환해보세요.

>> num_str = "720"

In [25]:
num_str="720"
print(type(num_str))
num=720
print(type(num))

<class 'str'>
<class 'int'>

In [26]:
num_str="720"
num=int(num_str)
print(num, type(num))

720 <class 'int'>

017 정수를 문자열 100으로 변환

정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [27]:
num=100
print(type(num))
num_str="100"
print(type(num_str))

<class 'int'>
<class 'str'>

In [28]:
num=100
num_str=str(num)
print(num_str,type(num_str))

100 <class 'str'>

018 문자열을 실수로 변환

문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [29]:
str="15.79"
num=float(str)
print(num, type(num))

15.79 <class 'float'>

019 문자열을 정수로 변환

year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [30]:
year="2020"
year=int(year)
print(year-1, year-2, year-3)

2019 2018 2017

020 파이썬 계산

에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [32]:
m=48584
total=m*36
print(total)

1749024

021 문자열 인덱싱

letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

>> letters = 'python'

실행 예
p t

In [33]:
letters='python'
print(letters[0], letters[2])

p t

022 문자열 슬라이싱

자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

>> license_plate = "24가 2210"

실행 예: 2210

In [34]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

023 문자열 인덱싱

아래의 문자열에서 '홀' 만 출력하세요.

>> string = "홀짝홀짝홀짝"

실행 예:
홀홀홀

In [35]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

024 문자열 슬라이싱

문자열을 거꾸로 뒤집어 출력하세요.

>> string = "PYTHON"

실행 예:
NOHTYP

In [36]:
string = "PYTHON"
print(string[::-1])

NOHTYP

025 문자열 치환

아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

>> phone_number = "010-1111-2222"

실행 예
010 1111 2222

In [39]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

026 문자열 다루기

25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예
01011112222

In [40]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

027 문자열 다루기

url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

>> url = "http://sharebook.kr"

실행 예:
kr

In [41]:
url = "http://sharebook.kr"
url_split=url.split('.')
print(url_split[-1])

kr

028 문자열은 immutable

아래 코드의 실행 결과를 예상해보세요.

>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)

In [42]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: ignored

**문자열 수정 불가!!**

029 replace 메서드

아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

>> string = 'abcdfe2a354a32a'

실행 예:
Abcdfe2A354A32A

In [43]:
string = 'abcdfe2a354a32a'
strA=string.replace('a', 'A')
print(strA)

Abcdfe2A354A32A

030 replace 메서드

아래 코드의 실행 결과를 예상해보세요.

>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

In [44]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

이건 아직 바꾼 결과를 스트링에 새로 저장 안 해서 그런 거 아닌가?

031 문자열 합치기

아래 코드의 실행 결과를 예상해보세요.

>> a = "3"
>> b = "4"
>> print(a + b)

In [46]:
a = "3"
b = "4"
print(a + b)

34

032 문자열 곱하기

아래 코드의 실행 결과를 예상해보세요.

>> print("Hi" * 3)

In [47]:
print("Hi" * 3)

HiHiHi

033 문자열 곱하기

화면에 '-'를 80개 출력하세요.

In [51]:
print("-"*80)

--------------------------------------------------------------------------------

034 문자열 곱하기

변수에 다음과 같은 문자열이 바인딩되어 있습니다.

>>> t1 = 'python'
>>> t2 = 'java'

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java

In [54]:
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

python java python java python java python java

035 문자열 출력

변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [58]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1,age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

036 문자열 출력

문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.